<script type="text/x-template" id="add_user_component_template">

	<div class="offset-sm-4 col-sm-3 text-light text-center">
		<br/><br/>
		<h4>Add New User </h4>
		<br/><br/>
		<input type="text" class="form-control" v-model="email" placeholder="Enter New User Email Address">
		<br/>
		<input type="password" class="form-control" v-model="password" placeholder="Enter New User Password">
		<br/>

		<select v-model="access" class="form-control">
			<option value="0">Read Files</option>
			<option value="1">Read,write Files</option>
			<option value="2">Read,write,delete Files (admin)</option>
		</select>
		<br/>
		<button class="btn btn-lg btn-primary">Submit</button>
	</div>

</script>