<script type="text/x-template" id="delete_component_template">
	

	<div class="col-sm-10 modal fade" id="delete_modal"  role="dialog" aria-labelledby="exampleModalScrollableTitle">


    <div class="modal-dialog modal-dialog-centered modal-lg">

      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header bg-danger text-light">
          <h4 class="modal-title">Delete Files</h4>
          <button type="button" class="text-light close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class=" modal-body" style="max-height: calc(100vh - 200px); overflow-y: auto;">
            <div class="sticky-top">
                <div class="alert alert-danger" role="alert">
                  The files or folders once deleted, it  cant be recovered
                </div>
            </div>  
        	<div v-if="choosen_files.length > 0">

                <div class="progress sticky-top">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" :style="{'width': completed_progress+'%'}"></div> 
                </div>              
                <br/><br/>
        		<h5>Files/Folders to be Deleted</h5>
        		<br/>
        		<table class="table">
        			<tr>
        				<th>Name</th>
        			</tr>
        			<template v-for="(item,index) in choosen_files">
        				<tr>
        					<td>{{ item }}</td>
        				</tr>
        			</template>
        		</table>
        	</div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">


    	         <button v-if="choosen_files.length > 0" type="button" class="btn btn-primary" @click="submitFiles()">Confirm Delete</button>
    	         &nbsp;
    	          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

    	</div>
        
      </div>
    </div>
  </div>










</script>