<script type="text/x-template" id="file_folder_template">

		<table class="table table-borderless borderless">
				



				<template v-for="(item,index) in filterFilesAndReturnResult()">

			 		<template v-if="index % 4 == 0">
			 				<tr><td></td></tr>
			 				</tr><tr>
			 		</template>

					<td class="text-center">
						
						<div v-if="item.is_directory">
							<i class="fa fa-folder text-warning card-img-top" style="font-size:100px;"></i>
						</div>
						<div v-else>
							<i class="fa fa-file card-img-top text-secondary" style="font-size:100px;"></i>
						</div>

						<div class="card-title">
							<br/>
							{{ item.name }}
						</div>

					</td>

					
				</template>

				</tr>

		</table>


</script>