<script type="text/x-template" id="file_folder_template">

		<div>
		  <ol class="breadcrumb">
		  	<template v-for="item in getNavigatableDirectories()">
		    	<li class="breadcrumb-item"><a href="#" @click="navigateToDirectory(item.location, true)">{{item.name}}</a></li>
		    </template>
		  </ol>
			<div class="col-sm-5 input-group">
				<input type="text" class="form-control" v-model="search_string" placeholder="search files by name">&nbsp;
				<button class="btn btn-primary"><i class="fa fa-search"></i></button>
				&nbsp;&nbsp;
				<button class="btn btn-primary" @click="showUploadModal()"><i class="fa fa-upload"></i> Upload Files</button>
			</div>
			<br/><br/>
			<table class="table borderless">
					<template v-if="is_list_view">
						<!-- if list view is enabled then print the table headers here -->
						<tr>
							<th>Name</th>
							<th>Size</th>
							<th>Last Modified Time</th>
						</tr>
					</template>

					 <template v-for="(item,index) in files_and_folders_prop_data" class="col-sm-4">

					 		<template v-if="is_list_view == false">

							 		<template v-if="index % 4 == 0">
							 				</tr><tr>
							 		</template>
									 		<td class="file_folder_item">
											 		<div class="card text-center" @dblclick="navigateToDirectory(item.full_location, item.is_directory)"
											 		@click="navigateToDirectory(item.full_location, item.is_directory)" style="cursor:pointer;">
											 			<div class="card-body">
											 				

											 				<template v-if="item.is_directory">
											 					<i class="fa fa-folder text-warning bigger_icon"></i>
											 				</template>
											 				<template v-else>
											 					<i class="fa fa-file text-dark bigger_icon"></i>
											 				</template>


											 				<div class="card-title text-center">
											 					<br/>
											 					<b v-html="getNameHtmlByHighlighting(item.name)"></b>
											 				</div>

											 			</div>
											 		</div>
									 		</td>
							</template>
							<template v-else>
								<tr @click="navigateToDirectory(item.full_location, item.is_directory)" @dblclick="navigateToDirectory(item.full_location, item.is_directory)" style="cursor:pointer;">
									<td>
										<template v-if="item.is_directory">
											 <i class="fa fa-folder text-warning "></i>
										</template>
										<template v-else>
											 <i class="fa fa-file text-dark"></i>
										</template>
										&nbsp; <b v-html="getNameHtmlByHighlighting(item.name)"></b>
									</td>
									<td>
										<template v-if="item.is_directory">
											{{ item.size | user_friendly_memory_format_filter }}
										</template>
										<template v-else>
											-
										</template>
									</td>
									<td>
										{{ item.last_modified_time | user_friendly_date }}
									</td>
								</tr>
							</template>
					</template>
			</table>
		</div>


</script>