<script type="text/x-template" id="file_folder_template">

			<table class="table borderless">

					 <template v-for="(item,index) in filterFilesAndReturnResult()" class="col-sm-4">

					 		<template v-if="index % 4 == 0">
					 				</tr><tr>
					 		</template>
					 		<td class="file_folder_item">
							 		<div class="card text-center file_folder_item">
							 			<div class="card-body">
							 				

							 				<template v-if="item.is_directory">
							 					<i class="fa fa-folder text-warning bigger_icon"></i>
							 				</template>
							 				<template v-else>
							 					<i class="fa fa-file text-dark bigger_icon"></i>
							 				</template>


							 				<div class="card-title text-center">
							 					<br/>
							 					<b>{{ item.name }}</b>
							 				</div>

							 			</div>
							 		</div>
					 		</td>

					 </template>
			</table>



</script>