<script type="text/x-template" id="login_component_template">

	<div class="offset-sm-4 col-sm-4 text-center">
		<br/><br/>
		<h4><i class="fa fa-user"></i> Login</h4>
		<br/><br/>
		<div class="input-group">
			<div class="input-group-prepend">
	          <div class="input-group-text"><i class="fa fa-envelope"></i></div>
	        </div>
			<input type="text" class="form-control" v-model="email" placeholder="Enter Your Email Address">
		</div>
		<br/>
		<div class="input-group">
			<div class="input-group-prepend">
	          <div class="input-group-text"><i class="fa fa-key"></i></div>
	        </div>
			<input type="password" class="form-control" v-model="password" placeholder="Enter Your Password">
		</div>
		<br/><br/>
		<button class="btn  btn-primary" :disabled="email.length == 0 || password.length == 0" @click="loginUser()">Submit</button>
	</div>

</script>