</div>


<div class="col-sm-1">

</div>


</div>

<style type="text/css">
.col {
	color: white;

		height: 900px;

background-color: #4567d2;

	}
	
	.grey {

		height: 500px;
		background-color: #fff;
		overflow-y: scroll;
		color: black;
	}

.s {

	border: none;
	background-color: transparent;
}
.display {
	display: none;
}
.fa-folder{
	color: #4567d2;
}
.fa-file{
	color: #4567d2;
}
#options {

margin-right: 2em;
}
.blue {
	background-color: #eee;
	height: 20px;
	margin-bottom: 20px;
}


	</style>










