<html>
<title>Newway File Manager</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="shortcut icon" href="logo.ico" type="image/x-icon">
	<body >
		<div class="col-md-12 col-lg-12 col-sm-12 text-left navbar  primary text-left">
		<h4><i class="fa fa-shield"></i> NEWWAY FILEMANAGER</h4>
		<small><h5>secure, simple and fast</h5></small>
		</div>
		<div class="col-md-12 col-lg-12 col-sm-12 text-left   text-left">
		<b class="btn">
			<img src="img/add_folder.png" height="32px" width="32px">
			</b>
		</div>
</body>
</html>		